.button__cancel {
  background: orange;
}
.button__capture {
  background: rgb(232, 98, 232);
}
.button__confirm {
  background: rgb(232, 221, 98);
}
.button__retake {
  background: rgb(88, 202, 228);
}
.button__container {
  padding-top: 20px;
};

