.App {
	font-size: 20px;
	font-weight: bold;
	width: 60%;
	margin: auto;
}

h1 {
	text-align: center;
	padding-top: 20px;
}

#discrete-slider {
	font-weight: bold;
	font-size: 20px;
	padding-top: 20px;
}
button {
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 8px;
	padding: 4px 8px;
	border: none;
	background-color: white;
	box-shadow: 2px 4px #989696;
}
button:hover {
	cursor: pointer;
}
